.BoardList__root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.BoardList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
}

.DeleteBox {
    position: fixed;
    width: 50vw;
    height: 50px;
    left: 25vw;
    bottom: 10vh;
    border: 2px dashed darkred;
    border-radius: 10px;
    color: darkred;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}